<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update!</title>
    <link rel="stylesheet" href="stylesheets/fail.css">
  </head>
  <body>
    <br><br>
    <h2><%= result%></h2>
    <a href="/home"><button>Back to home page.</button></a>
  </body>
</html>
